[submodule "cubridmanager"]
	path = cubridmanager
	url = https://github.com/Srltas/cubrid-manager-server
	branch = develop
[submodule "cubrid-jdbc"]
	path = cubrid-jdbc
	url = https://github.com/Srltas/cubrid-jdbc
	branch = develop
[submodule "cubrid-cci"]
	path = cubrid-cci
	url = https://github.com/Srltas/cubrid-cci.git
	branch = develop
